<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img width="250" height="60" alt="Logo Portafolio" src="https://i.ibb.co/nzXgpyY/keephealth-removebg-preview-1.png"/></a>
    <span class="example-spacer"></span>

    <span class="example-spacer"></span>
    <a style="margin-left: 70%">
      <button mat-stroked-button color="primary" routerLink="/admin">
        Volver
      </button>
    </a>
  </nav>
<br><br>
  <a style="text-align: center;">
        
    <h3 style="color: rgb(170, 204, 243);">¡Bienvenido Administrador!</h3>
  </a>
  <br>
  
<!-- TABLA PARA QUE LOS ADMINISTRADORES VEAN LA RESERVA (METODO DE CONFIRMACION DE RESERVA NO FUNCIONANDO)-->
<div class="container">
  <div style="width: auto; margin: 1em auto;" class="mat-elevation-z2">
    <h2 style="color: rgb(73, 73, 73);">Reservas de Keephealth</h2>
    <mat-table [dataSource]="reserva">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let reserva"> {{reserva.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let reserva"> {{reserva.fecha}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hora">
            <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
            <mat-cell *matCellDef="let reserva"> {{reserva.hora}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id_u">
            <mat-header-cell *matHeaderCellDef> ID Usuario </mat-header-cell>
            <mat-cell *matCellDef="let reserva"> {{reserva.id_u}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="servicio">
            <mat-header-cell *matHeaderCellDef> Tipo de Servicio </mat-header-cell>
            <mat-cell *matCellDef="let reserva"> {{reserva.servicio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ubicacion_f">
            <mat-header-cell *matHeaderCellDef> Ubicacion </mat-header-cell>
            <mat-cell *matCellDef="let reserva"> {{reserva.ubicacion_f}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
           <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
           <mat-cell *matCellDef="let reserva"> {{reserva.estado}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id_a">
          <mat-header-cell *matHeaderCellDef> ID Administrador </mat-header-cell>
          <mat-cell *matCellDef="let reserva"> {{reserva.id_a}} </mat-cell>
       </ng-container>
        <ng-container matColumnDef="confirmar">
            <mat-header-cell *matHeaderCellDef> Confirmar Reserva </mat-header-cell>
            <mat-cell *matCellDef="let reserva; index as i">
                <button mat-button (click)="confirmar(reserva)" color="primary">Confirmar </button>
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnas"></mat-row>
    </mat-table>
</div>
</div>