<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      width="250"
      height="60"
      alt="Logo Portafolio"
      src="https://i.ibb.co/nzXgpyY/keephealth-removebg-preview-1.png"
  /></a>
  <!-- BOTON DE CERRAR LA SESION -->
  <span class="example-spacer"></span>
  <a style="margin-left: 55%;">
    <button mat-stroked-button color="primary" routerLink="/reservausuario">
      Reserva
    </button>
  </a>
  <span class="example-spacer"></span>
  <a style="margin-left:10px">
    <button mat-stroked-button color="primary" (click)="logout()">
      Cerrar Sesion
    </button>
  </a>

</nav>
<br>
<br>
<br>

<!-- BIENVENIDA -->
  <h3 style="color: rgb(67, 153, 252); text-align: center;">¡Bienvenido {{usuario.nombre}}! </h3>
<!-- COMIENZO DEL FORMULARIO -->
<body
  class="mat-elevation-z8 sesion text-center"
  style="margin-top: 100px; margin-left: auto; margin-right: auto; padding: 3em; width: 50%; height: 70%"
>


  <h1 class="text-left">Agenda tu hora para:</h1>

  <hr>
  
<div>
    <label class="" for="servicio"><h5>Servicio</h5></label>
    <select  class="custom-select" name="servicio" #servicio>
        <option disabled>Servicio:</option>
        <option value="Venta">Venta</option>
        <option value="Post Venta">Post Venta</option>
    </select>
</div>

<br>

<div>
  <label class="" for="ubicacion_f"><h5>Ubicacion</h5></label>
  <select class="custom-select" name="ubicacion_f" #ubicacion_f>
      <option disabled>Ubicacion:</option>
      <option value="Cruz Verde San Bernardo">Cruz Verde San Bernardo</option>
      <option value="Cruz Verde Ñuñoa">Cruz Verde Ñuñoa</option>
      <option value="Cruz Verde Maipu">Cruz Verde Maipu</option>

      <option value="Ahumada San Bernardo">Ahumada San Bernardo</option>
      <option value="Ahumada Ñuñoa">Ahumada Ñuñoa</option>
      <option value="Ahumada Maipu">Ahumada Maipu</option>

      <option value="Salcobrand San Bernardo">Salcobrand San Bernardo</option>
      <option value="Salcobrand Ñuñoa">Salcobrand Ñuñoa</option>
  </select>
</div>

<hr>


<div class="container">
        <!-- SELECCIONAR LA FECHA  -->
    <label for="start">Selecciona la Fecha y la Hora:</label>
  
    <input type="date" id="start" matInput #fecha name='reserva.fecha'
         value="2020-10-05"
         min="2020-10-05" max="2030-01-01" style="margin-right: 10%; width:28%;">

         <!-- SELECCIONAR LA HORA  -->

    <form action="../../form-result.php" method="post" target="_blank" style="float: right; width: 45%;" >
    <input type="time" list="listalimitestiempo" matInput #hora name='reserva.hora' >
    </form>
      
        
  <datalist id="listalimitestiempo">
  
    <option value="09:00">
    <option value="10:00">
    <option value="11:00">
    <option value="12:00">
    <option value="13:00">
    <option value="14:00">
    <option value="15:00">
    <option value="16:00">
    <option value="17:00">
    <option value="18:00">
    <option value="19:00">
    <option value="20:00">
    <option value="21:00">

  </datalist>

</div>
<hr>

<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>ID de Usuario</mat-label>
  <input matInput #id_u class="inputText" [(ngModel)]="usuario.id" name = 'usuario.id'  disabled>
</mat-form-field>

<hr>

  <button mat-raised-button color="warn" style="margin-left: 1em; margin-top: 2em" routerLink="/usuario" 
  (click)="crearReserva1(servicio.value, ubicacion_f.value, fecha.value, hora.value, id_u.value)">
    Reservar hora
  </button>
  <button mat-raised-button color="primary" style="margin-left: 1em; margin-top: 2em">
    Limpiar datos </button>
</body>