<router-outlet></router-outlet>
<br>
<br>
<br>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <br>
          <h5 class="white-text">KeepHealth</h5>
          <br>
          <h5 class="white-text">Contáctanos</h5>
          <ul>
              <li>Correo: soporte@keephealth.cl</li>
              <li>Teléfono: +569 78658345</li>
              <li>Dirección: Avenida Siempre Viva #4200, Santiago</li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
            <br>
            <br>
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-white" href="https://www.cruzverde.cl/">Farmacia Cruz Verde</a></li>
            <li><a class="grey-text text-white" href="https://salcobrand.cl/">Farmacia Salcobrand</a></li>
            <li><a class="grey-text text-white" href="https://www.farmaciasahumada.cl/">Farmacia Ahumada</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
