<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      width="200"
      height="45"
      alt="Logo Portafolio"
      src="https://i.ibb.co/nzXgpyY/keephealth-removebg-preview-1.png"
  /></a>
  <span class="example-spacer"></span>
</nav>

<section class="mt-5 login-user">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto  mb-5 formulario card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1 class="mx-auto text-center" style="margin-top: 5%;">Iniciar Sesión</h1>
          <div class="form-group">
            <label for="nombreUser">Correo</label>
            <input type="text" class="form-control" id="nombreUser" formControlName='username'
              placeholder="Ingrese Correo" #correo>
          </div>
          <div class="form-group">
            <label for="contrasenhaUser">Contraseña</label>
            <input type="password" class="form-control" id="contrasenhaUser" #contrasena
              placeholder="Ingrese Contraseña" formControlName='password'>
          </div>

          <button class="btn btn-primary Btn-login  btn-block" value="Acceder">Iniciar Sesión</button>
          <div class="form-group text-center mt-5">
            <p>¿No tienes una cuenta? Registrate <a routerLink="/registro">aquí</a></p>
            <p>Recupera tu contraseña <a routerLink="/rcontrasenha"> aquí</a></p>
            <p>Bienvenido Administrador</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
